body {
    background-color: white;
    display: grid;
    grid-template-columns: 85px 85px 85px 1fr;
    grid-template-rows: 70px 1fr;
}


.title_card {
    border-style: solid;
    border-color: black;
    display:flex;
    align-items: center;
    justify-content: center;
    background-color: sandybrown;
    grid-row: 1;
    grid-column: 1/span3;
    text-align: center;
}
h2 {
    font-size: 3em;
}
.list {
    background-color: white;
    grid-row: 2;
    grid-column: 1/span 4;
    padding: initial;
    font-size: 35px;
}

.bigCheckbox {width: 30px; height: 30px; }
input[type="checkbox" i] {width: 30px; height: 30px;}

#item1 {
    font-size: 20px;
}

#item_enter{
    background-color: white;
    font-family: serif;
    font-size: 35px;
    width: 500px;
}

#item_button{
    background-color: lightgray;
}

button {
    font-size: 30px;
    background-color: lightgray;
}

#rename_button{
    grid-row: 2;
    grid-column: 1;
    height: 40px;
}

#show_uncompleted_button{
    grid-row: 2;
    grid-column: 2;
    height: 40px;
}

#delete_button{
    grid-row: 2;
    grid-column: 3;
    height: 40px;
}

i {
    opacity: 70%;
    font-size: 35px;
}

#diff-body {
    background-color: white;
    display: grid;
    grid-template-columns: 85px 85px 85px 1fr;
    grid-template-rows: 1fr 1fr 0.66fr 1fr 0.66fr 1fr;
}

.threeimg {
    display: grid;
    grid-template-columns: 380px 380px;
    /*grid-template-rows: 1fr 1fr 1fr;*/
}

.threeimg > h2 {
    grid-column: 1/span 3;
    grid-row:  1;
    font-size: 35px;
}

.threeimg > h3 {
    grid-column: 1;
}

.threeimg > p {
    grid-column: 2;
}

.threeimg > img {
    grid-column: 1;
    width: 360px;
    height: auto;
    border-style: solid;
    border-color: black;
}


#createitem {
    grid-row: 1;
}

#eatlunch {
    grid-row: 2;
}

#callmom {
    grid-row: 3;
}

#rename {
    grid-row: 4;
}

#showuncompleted {
    grid-row: 5;
}

#delete {
    grid-row: 6;
}