.App {
  text-align: center;
}

/*.App-logo {*/
/*  height: 40vmin;*/
/*  pointer-events: none;*/
/*}*/

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

/*.App-header {*/
/*  background-color: #282c34;*/
/*  min-height: 100vh;*/
/*  display: flex;*/
/*  flex-direction: column;*/
/*  align-items: center;*/
/*  justify-content: center;*/
/*  font-size: calc(10px + 2vmin);*/
/*  color: white;*/
/*}*/

/*.App-link {*/
/*  color: #61dafb;*/
/*}*/

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/

.body {
  background-color: white;
  display: grid;
  grid-template-columns: 85px 85px 85px 1fr;
  grid-template-rows: 70px 2fr 3fr 3fr;
}


.title_card {
  border-style: solid;
  border-color: black;
  display:flex;
  align-items: center;
  justify-content: center;
  background-color: sandybrown;
  grid-row: 1;
  grid-column: 1/span3;
  text-align: center;
}
h2 {
  font-size: 3em;
}
.list {
  background-color: white;
  grid-row: 2;
  grid-column: 1/span 4;
  padding: initial;
  font-size: 35px;
}

.bigCheckbox {width: 25px; height: 25px; font-size: 25px}
input[type="checkbox" i] {width: 25px; height: 25px;}

#item1 {
  font-size: 20px;
}

#item_enter{
  background-color: white;
  font-family: serif;
  font-size: 35px;
  width: 500px;
}

.addedText{
  background-color: white;
  font-family: sans-serif;
  font-size: 25px;
  width: 500px;
}

.item_text {
  font-size: 30px;
}

#item_button{
  background-color: lightgray;
  font-size: 25px;
  height: 35px;
}

.list_body {
  grid-row: 3;
  grid-column: 1/ span 4;
}

.item_enter {
  grid-row: 4;
  grid-column: 1/ span 4;
}

checkbox {
  font-size: 25px;
}

button {
  font-size: 30px;
  background-color: lightgray;
}

#rename_button{
  grid-row: 2;
  grid-column: 3;
  font-size: 25px;
  height: 35px;
}

#show_uncompleted_button{
  grid-row: 2;
  grid-column: 2;
  font-size: 25px;
  height: 35px;
}

#delete_button{
  grid-row: 2;
  grid-column: 3;
  font-size: 25px;
  height: 35px;
}

i {
  opacity: 70%;
  font-size: 35px;
  grid-row: 2;
  grid-column: 1/ span 4;
}


